# Redis
ALLOW_EMPTY_PASSWORD=yes

# MySQL
MYSQL_ROOT_PASSWORD=local
MYSQL_DATABASE=local
MYSQL_USER=local
MYSQL_PASSWORD=local

# Postgres
POSTGRES_DB=local
POSTGRES_USER=local
POSTGRES_PASSWORD=local

# Minio
MINIO_ROOT_USER=local
MINIO_ROOT_PASSWORD=localminio

# Sonarqube
SONARQUBE_JDBC_DATABASE=sonarqube